<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Polly.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>141CAF7A2F6B03CB004306A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>141CAF8B2F6B03CC004306A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>141CAF952F6B03CC004306A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
